* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f2f3f3;
}

.container {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
}

/* Buttons classes */

button {
    margin: 50px;
}

.btn {
    padding: 16px;
    border: none;
    outline: none;
    outline: none;
    font-size: 18px;
    background-color: #7f8fa6;
    transition: all 0.3s ease;
}

.r-corner {
    border-radius: 5px;
}

.borders {
    border: 1px solid;
    border-color: #718093:
}

.important {
    background-color: #00a8ff;
    color: #f5f6fa;
}

.important:hover {
    background-color: #0097e6;
}

.warning {
    background-color: #e84118;
    color: #f5f6fa;
}

.warning:hover {
    background-color: #c23616;
}

.noimp {
    background-color: transparent;
    border: solid;
    color: #273c75;
}

.noimp:hover {
    color: #273c75;
}

.special {
    background-color: #fbc531;
    color: white;
}

.special:hover {
    background-color: #e1b12c;
}